apiVersion: v1
kind: Service
metadata:
  name: db-service
  namespace: step-3
spec:
  selector:
    app: mongo
  ports:
  - protocol: TCP
    port: 27017
    targetPort: 27017
  type: ClusterIP   # service interne au cluster
